<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/frag :: head">
<body>
<form id="form" method="post" th:action="@{/encode/{id} (id=${users.getUserId()})}"
       class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 th:text="${'Đổi mật khẩu cho tài khoản '+users.getUsername()}" class="modal-title"></h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="password" data-error="wrong" data-success="right">Nhập mật khẩu mới</label>
                <input type="password" id="password" value="" class="form-control validate">
            </div>

            <div class="form-group">
                <label for="password" data-error="wrong" data-success="right">Nhập lại mật khẩu</label>
                <input type="password" id="repassword" name="password" value="" class="form-control validate"/>
            </div>
            <div class="form-group">
                <span id="error_error" style="color: red"></span>
            </div>
            <input class="btn btn-primary" type="submit" onclick="return validate();" id="btn" name="btn" value="Xác nhận"/>
        </div>
    </div>
</form>
</body>
<script>
    function getValue(id){
        return document.getElementById(id).value.trim();
    }

    // Hiển thị lỗi
    function showError(key, mess){
        document.getElementById(key + '_error').innerHTML = mess;
    }
    function validate(){

        var flag = true;

        var password = getValue('password');
        var repassword = getValue('repassword');
        if (password == "" ){
            flag = false;
            showError('error', '* Bạn chưa nhập mật khẩu');
        } else if (repassword == "" ){
            flag = false;
            showError('error', '* Bạn chưa nhập lại mật khẩu')
        } else if (password != repassword){
            flag = false;
            showError('error', '* Mật khẩu nhập lại không trùng khớp');
        }
        return flag;
    }
</script>
</html>