<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/frag :: head">
<body>

<div class="modal-dialog modal-lg">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Mật khẩu của bạn đã được reset thành công
            </div>
            <div class="modal-body" style="text-align: center">
                <a th:href="@{/login-register}" class="btn btn-primary">Xong</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>